@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.msg{
  animation:RandL;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes RandL {
  0%{
    transform: translateX(-100px);
  }
  25%{
    transform: translateX(-50px);
  }
  75%{
    transform: translateX(50px);
  }
  100%{
    transform: translateX(100px);
  }


}